In [28]:
# PASSO 1
#     -  IMPORTAR O SQLITE3
#     -  NÃO PRECISA INSTALAR

import sqlite3

# PASSO 2
#       - CRIAR CONEXÃO COM O BANCO DE DADOS 
#       - NA PRIMEIRA EXECUÇÃO SERÁ CRIADO O BANCO
conexão = sqlite3.connect('agencia3.db')

# PASSO 3 
#      - CRIAR UM CURSOR 
#      - SERVE PARA EXECUTAR SCRIPS SQL
cursor = conexão.cursor()

print('conexão criada com sucesso')

conexão criada com sucesso

CRIAR TABELA DO BANCO DE DADOS

In [29]:
cursor.execute('''
               
    CREATE TABLE IF NOT EXISTS estoque(
        id  INTEGER PRIMARY KEY  AUTOINCREMENT,
        marca TEXT NOT NULL,
        modelo TEXT NOT NULL,
        tamanho INTEGER NOT NULL,
        valor DECIMAL NOT NULL    
               
    );
               
               
               
               ''')

C-CREATE

In [30]:
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Coil Black Reflect',35,450))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla hertz',35,358))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla hertz ice',42,263))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla Hertz Black Art Graffit Bordado',42,369))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla Hertz Unissex Camurça Furta Cor',42,334))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla Hertz Art Sapao Grey Original',35,341))
cursor.execute("INSERT INTO estoque('marca','modelo', 'tamanho','valor')VALUES(?,?,?,?)",('Tesla','Tesla Hertz Sand Bege Areia Avelã Robusto Original',42,336))





conexão.commit()

R-READ

In [48]:
conexão = sqlite3.connect('agencia3.db')
cursor = conexão.cursor()


consulta = cursor.execute("SELECT * FROM estoque")
for lista in consulta.fetchall():
    print(f'marca: {lista[1]}  - modelo: {lista[2]} - tamanho: {lista[3]} - valor: {lista[4]}')

print('\n______________________________________________________')

consulta2 = cursor.execute("SELECT marca, modelo FROM estoque")
for lista2 in consulta2.fetchall():
    print(f'marca e modelo\n\n {lista2[0]} - {lista2[1]}')

print('\n______________________________________________________')


consulta3 = cursor.execute("SELECT modelo, tamanho < 40 FROM estoque")
print('modelos com menos de 5 anos de uso\n')
for lista3 in consulta3.fetchall():
    print(f'\n{lista[2]} - {lista[4]}')

marca: Tesla  - modelo: Coil Black Reflect - tamanho: 35 - valor: 450
marca: Tesla  - modelo: Tesla hertz - tamanho: 35 - valor: 358
marca: Tesla  - modelo: Tesla hertz ice - tamanho: 42 - valor: 263
marca: Tesla  - modelo: Tesla Hertz Black Art Graffit Bordado - tamanho: 42 - valor: 369
marca: Tesla  - modelo: Tesla Hertz Unissex Camurça Furta Cor - tamanho: 42 - valor: 334
marca: Tesla  - modelo: Tesla Hertz Art Sapao Grey Original - tamanho: 35 - valor: 341
marca: Tesla  - modelo: Tesla Hertz Sand Bege Areia Avelã Robusto Original - tamanho: 42 - valor: 336

______________________________________________________
marca e modelo

 Tesla - Coil Black Reflect
marca e modelo

 Tesla - Tesla hertz
marca e modelo

 Tesla - Tesla hertz ice
marca e modelo

 Tesla - Tesla Hertz Black Art Graffit Bordado
marca e modelo

 Tesla - Tesla Hertz Unissex Camurça Furta Cor
marca e modelo

 Tesla - Tesla Hertz Art Sapao Grey Original
marca e modelo

 Tesla - Tesla Hertz Sand Bege Areia Avelã Robusto Original

______________________________________________________
modelos com menos de 5 anos de uso


Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

Tesla Hertz Sand Bege Areia Avelã Robusto Original - 336

U-UPDATE

In [54]:
conexão.execute("UPDATE estoque SET valor = ? WHERE id = ?",(400,1))

conexão.commit()

D-DELETE

In [58]:
conexão.execute('DELETE from estoque WHERE modelo = ?', ('Coil Black Reflect',))
                
                
conexão.commit()
conexão.close()